{% load static %}
<style type="text/css">
   #hello-msg {
    font-size:  18px;
    color: #fff;
    margin-right :20px;
   }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="{% static 'images/logo.png' %}">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
      </li>
       <li class="nav-item ">
        <a class="nav-link" href="{% url 'products' %}" >Pricing</a>

      </li>
    </ul>
    {% endif %}
  </div>

  <span id = 'hello-msg'>
    Hello , {{request.user}}
  </span>
  <span>
    <a href="{% url 'logout' %}">Logout</a>
  </span>
</nav>